<div class="container">
  <div class="row search">
      <h4> Search for an Invoice </h4>
      <input #search class="form-control" id="search-box">
      <button class="btn btn-primary" (click)="searchItems(search.value); search.value=''"> Search </button>
  </div>
</div>
