<div class="starter">
  <div class="message">
    {{ message }}
  </div>
  <div class="form-group">
    <label>Username</label>
    <input #user type="text" class="form-control" id="user" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input #pass type="password" class="form-control" id="pass" (keyup.enter)="login()" placeholder="Password">
  </div>
  <button (click)="login()"  class="btn btn-primary">Login</button>
</div>
