.add {
  width: 357px;
  margin: 40px auto 40px;
}

#add-box {
  width: 300px;
}

#edit-box {
  width: 350px;
}

.page-title {
  margin-top: 80px;
  text-align: center;
  text-decoration: underline;
}

h4 {
  margin-left: auto;
  margin-right: auto;
}

#div1 {
    height: 300px;
    width: 560px;
    position: relative;
    margin: 0 auto;
}

#div2 {
  height: 300px;
  max-height:300px;
  overflow: scroll;
  border:2px solid teal;
  border-radius: 15px;
  padding: 15px 35px 0;
}

#search-box {
  width: 300px;
}

.search {
  width: 380px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.alert {
  padding-left: 10px;
}

.btn-danger {
  margin-left: 10px;
}

.btn-warning {
  color: white;
  margin-right: 10px;
}

.col-7 {
  max-width: 50%;
}

#ifContainer {
  width: 100%;
  display: inherit;
}

.btn-success {
  margin-left: 30px;
}