<div class="page-title">
  <h1> List of Invoices</h1>
</div>

<div class="container">
  <div class="row add">
    <h4> Add a new Invoice </h4>
      <input #newItem class="form-control" id="add-box" (keyup.enter)="addItem(newItem.value); newItem.value=''">
      <button class="btn btn-primary" (click)="addItem(newItem.value); newItem.value=''" > Add </button>
  </div>
</div>

<app-invoices-list [newInvoice]="newInvoice"
                   [copyInvoice]="copyInvoice"
				   [removeInvoice]="removeInvoice"
				   [editInvoice]="editInvoice"
				   (invoiceArray)="getInvoices($event)"
				   (clearItems)="clearItems($event)">
</app-invoices-list>

<div id="div1">
    <div id="div2">
        <div id="div3">
		  
			<div class="container">
				<div class="row alert alert-secondary" *ngFor="let invoice of invoiceArray">
					<div id="ifContainer" *ngIf="!this.invoice.edit">
						
						<div class="col-7" style="padding:10px 10px;"> {{ invoice.name }} </div>
			
						<div>
							<button class="btn btn-warning" (click)='this.invoice.edit = true'> Edit </button>
						</div>

						<div>
							<button class="btn btn-info" (click)='copyItem(this.invoice)'> Copy </button>
						</div>
						
						<div>
							<button class="btn btn-danger" style="margin-left: 10px;" (click)="removeItem(this.invoice)"> Delete </button>
						</div>

					</div>

					<div id="ifContainer" *ngIf="this.invoice.edit">
						
						<input #edit class="form-control" id="edit-box" (keyup.enter)="editItem({'id': this.invoice.id, 'name': edit.value}); this.invoice.edit = false;" value="{{this.invoice.name}}">
			
						<div>
							<button class="btn btn-success" (click)="editItem({'id': this.invoice.id, 'name': edit.value}); this.invoice.edit = false;"> Save </button>
						</div>

					</div>
				
				</div>
        	</div>
        </div>
    </div>
</div>
